<div class="jumbotron">
    <div class="container">
      <h1 class="display-3 text-right">حجز زيارة لمعرض </h1>
      <br>
      <h3 class="text-danger text-right">ملاحظات عامة:</h3>
      <p class="text-right">
          1- لا تعتمد الزيارة الا بعد وصول الموافقة من قبل إدارة النشاط الطلابي على رقم جوال المشرف المنسق المسجل بالاستمارة.
        <p>
            <p class="text-right">
                2- تلتزم المدرسة بالوقت المحدد للزيارة لوجود أكثر من زيارة في اليوم الواحد.
                <p>
                  <p class="text-right">
                      3- تلتزم المدرسة بالحد الاقصى لأعداد الطلاب المتاحة للزيارة للمعرض (20 طالب كحد أقصى).
                      <p>
                        <p class="text-right">
                            4- يلتزم المعلم المرافق للطلاب أثناء الزيارة بمتابعة الطلاب وحثهم على الانضباط والاستفادة الكاملة من الزيارة
                            <p>
                              <p class="text-right">
                                  5- في حالة وجود ظروف تمنعكم من الحضور يرجى ابلاغ مشرف المعرض بذلك.
                                  <p>
                                    <p class="text-right">
                                        6- يرجى ان يتناول الطلاب افطارهم قبل الحضور الى المرفق.
                                        <p>
                                          <p class="text-right">
                                              7- في حال اختيار موعد سيتم تأكيد الموعد من قبل مشرف المعرض .</p>
                                              <p>
       
        
        <a class="btn btn-danger btn-lg"  routerLink="reservation" role="button">موافق</a></p>
    </div>
  </div>

